@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

#App {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: #0093E9;
  background-image: linear-gradient(199deg, #0093E9 0%, #80D0C7 100%);
}

#header {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7);
}

#authors {
  color: #fff;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7);
  margin-bottom: 1.5rem;
}

#character {
  width: 512px;
  height: 512px;

  image-rendering: pixelated;
}

#generate_btn {

  margin-top: 1.5rem;

  width: 300px;
  height: 50px;
  
  border-radius: 7px;
  border: none;

  background-color: #ea39b8;
  color: #fff;

  font-size: 1.5rem;

  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  transition: all .3s;

  cursor: pointer;
}

#generate_btn:hover {
  background-color: #6f42c1;
}